.category {
  width: 'full';
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 1rem 0.75rem 0.5rem;
  font-weight: 500;
	letter-spacing: 0.0625em;
  position: relative;
}

svg path {
  shape-rendering: geometricPrecision;
}


.category::after {
  content: '';
  width:'60px';
  opacity: 0;
  left: inherit;
  display: block;
  border: 6px solid transparent;
  border-image-source: url('../../../icons/BorderSvg.svg');
  border-image-slice: 7;
  border-image-width: 0 0 60px 0;
  transform: translateY(1.5rem); 

}

.category:hover::after {
  animation: waveUp 0.1s both;
  transform: translateY(0.85rem);
  animation-timing-function: ease-in-out;
}

 @keyframes waveUp {
  0%   {opacity: 0; transform: translateY(1.5rem);}
  70%  {opacity: 0.01; transform: translateY(1.3rem);}
  80%  {opacity: 0.1; transform: translateY(1.1rem);}
  100% {opacity: 1; transform: translateY(0.85rem);}
}

.categoryClicked {
  width: 'full';
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 1rem 0.75rem 0.5rem;
  font-weight: 500;
	letter-spacing: 0.0625em;
  position: relative;
}

.categoryClicked::after {
  content: '';
  width:'60px';
  left:inherit;
  display: block;
  border: 6px solid transparent;
  border-image-source: url('../../../icons/BorderSvg.svg');
  border-image-slice: 7;
  border-image-width: 0 0 60px 0;
  transform: translateY(0.85rem);
  transition: all 0.1s ease-in-out; 
}